{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon">Open left panel</a>
{{/section}}
{{#section "menu"}}
  <li><a href="/" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
      data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Home</a></li>
{{/section}}
<canvas id="myChart"></canvas>
<script>
  Chart.pluginService.register({
  beforeDraw: function(chart) {
    var width = chart.chart.width,
        height = chart.chart.height,
        ctx = chart.chart.ctx;

    ctx.restore();
    var fontSize = (height / 75).toFixed(2);
    ctx.font = fontSize + "em open sans";
    ctx.textBaseline = "middle";

    var text = "75%",
        textX = Math.round((width - ctx.measureText(text).width) / 2),
        textY = height / 2;

    ctx.fillText(text, textX, textY);
    ctx.save();
  }
});
  var ctx = document.getElementById('myChart').getContext('2d');
  new Chart(ctx, { 
    "type": "doughnut", 
    "data": { 
      "labels": [
        "Red", 
        "Blue", 
      ],
      "datasets": [
        { 
          "label": "Message Status", 
          "data": [75, 25], 
          "backgroundColor": ["rgb(75, 192, 192)", "rgb(255, 99, 132)"] //, "rgb(54, 162, 235)", "rgb(255, 205, 86)"] //, "rgb(75, 192, 192)"]
        }
      ] 
    },
    options: {
        legend: {
            display: false
        },
    "cutoutPercentage": "75",
    }
  });
</script>
{{#section 'footer'}}
<h1>Footer</h1>
{{/section}}