<form>
    <p><button type="button" onclick="geoFindMe()">Show my location</button></p>
    <input id="address" type="text" value="640 Laura St., Pensacola, FL 32514">
    <p><button type="button" onclick="codeAddress()">GeoLocate</button></p>
</form>
<div id="map" style="height:320px;width:480px"></div>
<script>
    var latitude;
    var longitude;
    var output = document.getElementById("map");
    var map;
    var geocoder;

    function geoFindMe() {
        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        output.innerHTML = "<p>Locating…</p>";
        navigator.geolocation.getCurrentPosition(success, error);
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        console.log(address);
        geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
        });
    }

    function success(position) {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
        output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';
        geocoder = new google.maps.Geocoder();
        // Initialize and add the map
        // The location of Uluru
        var uluru = { lat: parseFloat(latitude), lng: parseFloat(longitude) };
        console.log(uluru);
        // The map, centered at Uluru
        map = new google.maps.Map(
            document.getElementById('map'), { zoom: 17, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });

        OneSignal.push(function () {
            OneSignal.sendTags({
                latitude: latitude,
                long: longitude
            });
        });
    }

    function error(){}

</script>
<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=geoFindMe">
</script>