{{#section 'css'}}
<style>
    .center {
        text-align: center;
    }
</style>
{{/section}}
{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon">Open left panel</a>
{{/section}}
{{#section "menu"}}
<li><a href="/" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
        class="ui-nodisc-icon" data-ajax="false">Home</a></li>
{{/section}}
<span class="center">
    <h1>Sign In</h1>
</span>
<form id="signin" name="signin" method="post" action="https://enotify.iodrop.net/signin"
    class="ui-body ui-body-a ui-corner-all" data-ajax="false">
    <input type='hidden' name='redirect' value='{{redirect}}' />
    <fieldset>
        <div data-role="fieldcontain">
            <label for="username">Username:</label>
            <input type="text" value="" name="email" />
        </div>
        <div data-role="fieldcontain">
            <label for="password">Password:</label>
            <input type="password" value="" name="password" />
        </div>
        <input type="submit" data-theme="b" value="Sign In">
    </fieldset>
</form>
{{#section 'footer'}}

{{/section}}