{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon"></a>
{{/section}}
{{#section "menu"}}
    <li><a href="/" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Home</a></li>
{{/section}}
<form id="sendMessage" method="post" action="/message/send" data-ajax="false">
    <div>
        <div data-role="fieldcontain">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" data-mini="true" value="{{User.firstname}} {{User.lastname}}" readonly/>
        </div>
        <div data-role="fieldcontain">
            <label for="location" class="select">Location</label>
            <select name="Location" id="location">
                {{#each Locations}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div data-role="fieldcontain">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" data-mini="true" />
        </div>
        <div data-role="fieldcontain">
            <label for="messagetext">Message Text</label>
            <textarea name="MessageText" id="messagetext" class="text" rows="6"></textarea>
        </div>
        <a href="/" data-role="button" data-inline="false">Cancel</a>
        {{!-- <a href="/" data-role="button" data-inline="false">Save</a> --}}
        <a href="#"  onclick="document.getElementById('sendMessage').submit();" data-role="button" data-inline="false">Send</a>
    </div>
</form>
{{#section 'footer'}}

{{/section}}