<!DOCTYPE html>
<html>
 
<head>
    <title>eNotify - Reset Password</title>
</head>
 
<body>
    <form id="reset" name="reset" method="post" action="reset">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">New Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Reset" />
    </form>
</body>
 
</html>