{{#section 'css'}}
<style>
    .center {
        text-align: center;
    }
    div.ui-checkbox {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
</style>
{{/section}}
{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon"></a>
{{/section}}
{{#section "menu"}}
<li><a href="/" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
        class="ui-nodisc-icon" data-ajax="false">Home</a></li>
{{/section}}

<span class="center" style="text-align: center;">
    <h1>Set Locations</h1>
</span>

<form id="locations" name="locations" method="post" action="locations">
        <div data-role="content">
            <ul id="lstLocations" data-role="listview">
                {{#locations}}
                    <li style="padding: 0px;margin: 0px;"><label style=""><input type="checkbox" name="checkbox" id="{{id}}" data-theme="c" {{checked}}/>{{name}}</label></li>
                {{/locations}}
            </ul>
         </div>
</form>
{{#section 'footer'}}

<script src="setup.js"></script>

{{/section}}