{{#section 'css'}}
    <style>

    </style>
{{/section}}
{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon"></a>
{{/section}}
{{#section "menu"}}
    <li><a href="/" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Home</a></li>
{{/section}}
<h1>Unauthorized</h1>
<p>
You have tried to perform an action that you don't have permissions for.<br/>
Please see your administrator to get the proper permissions.
</p>
<a href="/" data-role="button" data-inline="false"  data-ajax="false">Home</a>
{{#section 'footer'}}

{{/section}}